.login-form{
    //background-color: skyblue;
    width: 100%;
    .form-container{
        margin: 100px auto;
        text-align: center;
        .form-group, button{
            margin-top: 15px;
        }
        input{
            margin-left:10px;
        }
        .error-msg{
            color: red;
            font-size: 18px;
        }
    }
}